DATABASE_URL=postgres://postgres:password@localhost:5432/devflow


JWT_SECRET=my-super-secret-and-long-jwt-key-that-is-at-least-32-chars

# The log level for the application.
# Can be one of: trace, debug, info, warn, error
RUST_LOG=debug,tower_http=debug


PORT=8000
